version: "2.1"
services:
  web:
    image: "{{CI_REGISTRY}}/{{CI_PROJECT_PATH}}/{{ CI_PROJECT_NAME }}:{{CI_COMMIT_REF_SLUG}}"
    ports:
      - "3000:3000"
    volumes:
      - app_db:/etc/todos

volumes:
  app_db:
